In [ ]:
import pandas as pd
import numpy as np
import json


from pandas.io.json import json_normalize

In [2]:
movies = pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/movies_metadata.csv')

/anaconda3/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
genres = pd.read_csv('genres_final.csv')

In [4]:
box_office = pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/Data Prep/box_office.csv')

In [5]:
cast = pd.read_csv('Cast_final.csv')

In [6]:
production = pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/Data Prep/Productions_final.csv')

### Dropping columns in movies dataframe

In [7]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

#### Drop: 
- adult
- belongs_to_collection
- budget (available in box_office)
- genres (available in gernes)
- homepage
- imdb_id
- original_language
- original_title
- overview
- poster_path
- production_companies (available in production)
- production_countries 
- revenue (available in box_office)
- runtime
- spoken_languages
- status
- tagline
- title
- video

In [8]:
movies.drop(['adult',
'belongs_to_collection',
'budget',
'genres',
'homepage',
'original_language',
'original_title',
'overview',
'poster_path',
'production_companies',
'production_countries',
'revenue',
'runtime',
'spoken_languages',
'status',
'tagline',
'title',
'video'], axis=1, inplace = True)

In [9]:
movies.isnull().sum()

id               0
imdb_id         17
popularity       5
release_date    87
vote_average     6
vote_count       6
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.columns

Index(['id', 'imdb_id', 'popularity', 'release_date', 'vote_average',
       'vote_count'],
      dtype='object')

### Merging movie and other dataframes based on movie_id and imdb_id

In [12]:
# Rename id column to movie_id in order to merge with other data frames
movies.rename(columns = {'id':'movie_id'}, inplace = True)

#### Genres

In [13]:
genres['movie_id'] = genres['movie_id'].astype(str)

In [14]:
df = pd.merge(genres, movies,on ='movie_id', how='inner' )

#### Box office

In [15]:
box_office.drop(['Unnamed: 0'], axis=1, inplace =True)

In [16]:
box_office.columns

Index(['index', '0', '1'], dtype='object')

In [17]:
box_office.rename(columns= {'index':'imdb_id', '0':'revenue', '1':'budget'}, inplace=True)

In [18]:
df = pd.merge(df,box_office, on = 'imdb_id', how='inner')

#### Cast

In [20]:
cast['movie_id'] = cast['movie_id'].astype(str)

In [40]:
cast

      movie_id  Cast 1  Cast 2
0            3     1.0     1.0
1            5     1.0     2.0
2            6     1.0     1.0
3           11     1.0     1.0
4           12     1.0     1.0
5           13     2.0     1.0
6           14     1.0     1.0
7           15     1.0     1.0
8           16     1.0     2.0
9           17     1.0     1.0
10          18     2.0     1.0
11          19     1.0     NaN
12          20     1.0     1.0
13          22     2.0     1.0
14          24     1.0     1.0
15          25     1.0     1.0
16          26     1.0     NaN
17          28     1.0     1.0
18          33     2.0     2.0
19          38     1.0     1.0
20          55     1.0     NaN
21          58     2.0     1.0
22          59     1.0     1.0
23          62     1.0     NaN
24          63     2.0     1.0
25          64     1.0     NaN
26          65     1.0     1.0
27          66     2.0     2.0
28          67     1.0     NaN
29          68     1.0     3.0
...        ...     ...     ...
31859   449758     NaN     1.0
31860   450945     NaN     1.0
31861   451955     1.0     1.0
31862   452068     NaN     1.0
31863   452142     1.0     1.0
31864   452166     NaN     1.0
31865   452413     NaN     1.0
31866   453062     NaN     1.0
31867   455043     NaN     1.0
31868   455601     NaN     1.0
31869   455968     2.0     1.0
31870   456098     1.0     1.0
31871   456193     NaN     1.0
31872   457962     1.0     1.0
31873   458335     NaN     1.0
31874   458506     NaN     1.0
31875   458961     NaN     1.0
31876   459295     NaN     1.0
31877   459928     NaN     1.0
31878   459950     NaN     1.0
31879   460135     NaN     1.0
31880   460822     NaN     1.0
31881   460846     2.0     1.0
31882   461053     NaN     1.0
31883   461297     1.0     1.0
31884   461955     NaN     1.0
31885   463906     NaN     1.0
31886   464111     NaN     1.0
31887   464207     NaN     1.0
31888   467731     NaN     1.0

[31889 rows x 3 columns]

In [21]:
df = pd.merge(df, cast, on='movie_id', how='inner')

#### Production

In [29]:
production.drop(['Unnamed: 0'], axis=1, inplace =True)

In [31]:
production['movie_id'] = production['movie_id'].astype(str)

In [32]:
df = pd.merge(df, production, on = 'movie_id', how='inner')

In [38]:
df.shape

(40263, 31)

### Checking nan values again

In [35]:
df.isnull().sum()

movie_id              0
Crime                 0
Drama                 0
Comedy                0
Action                0
Thriller              0
Adventure             0
Science Fiction       0
Animation             0
Family                0
Romance               0
Mystery               0
Music                 0
Horror                0
Fantasy               0
Documentary           0
War                   0
Western               0
History               0
Foreign               0
TV Movie              0
imdb_id               0
popularity            0
release_date          0
vote_average          0
vote_count            0
revenue               0
budget                0
Cast 1             5010
Cast 2             7837
Production            0
dtype: int64

In [39]:
df

,movie_id,Crime,Drama,Comedy,Action,Thriller,Adventure,Science Fiction,Animation,Family,...,imdb_id,popularity,release_date,vote_average,vote_count,revenue,budget,Cast 1,Cast 2,Production
0,3,0,1,1,0,0,0,0,0,0,...,tt0092149,2.29211,1986-10-16,7.1,35.0,$0,$0,1.0,1.0,1
1,5,1,0,1,0,0,0,0,0,0,...,tt0113101,9.02659,1995-12-09,6.5,539.0,"$4,257,354","$4,000,000",1.0,2.0,2
2,5,1,0,1,0,0,0,0,0,0,...,tt0113101,9.02659,1995-12-09,6.5,539.0,"$4,257,354","$4,000,000",1.0,2.0,1
3,6,1,0,0,1,1,0,0,0,0,...,tt0107286,5.53867,1993-10-15,6.4,79.0,"$12,526,677","$21,000,000",1.0,1.0,4
4,6,1,0,0,1,1,0,0,0,0,...,tt0107286,5.53867,1993-10-15,6.4,79.0,"$12,526,677","$21,000,000",1.0,1.0,1
5,6,1,0,0,1,1,0,0,0,0,...,tt0107286,5.53867,1993-10-15,6.4,79.0,"$12,526,677","$21,000,000",1.0,1.0,1
6,11,0,0,0,1,0,1,1,0,0,...,tt0076759,42.1497,1977-05-25,8.1,6778.0,"$775,512,064","$11,000,000",1.0,1.0,4
7,11,0,0,0,1,0,1,1,0,0,...,tt0076759,42.1497,1977-05-25,8.1,6778.0,"$775,512,064","$11,000,000",1.0,1.0,1
8,12,0,0,0,0,0,0,0,1,1,...,tt0266543,25.4978,2003-05-30,7.6,6292.0,"$969,023,261","$94,000,000",1.0,1.0,1
9,13,0,1,1,0,0,0,0,0,0,...,tt0109830,48.3072,1994-07-06,8.2,8147.0,"$678,151,134","$55,000,000",2.0,1.0,4
10,14,0,1,0,0,0,0,0,0,0,...,tt0169547,20.7266,1999-09-15,7.9,3438.0,"$356,296,601","$15,000,000",1.0,1.0,1
11,14,0,1,0,0,0,0,0,0,0,...,tt0169547,20.7266,1999-09-15,7.9,3438.0,"$356,296,601","$15,000,000",1.0,1.0,1
12,15,0,1,0,0,0,0,0,0,0,...,tt0033467,15.8119,1941-04-30,8.0,1244.0,"$1,594,107","$839,727",1.0,1.0,2
13,15,0,1,0,0,0,0,0,0,0,...,tt0033467,15.8119,1941-04-30,8.0,1244.0,"$1,594,107","$839,727",1.0,1.0,1
14,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,3
15,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
16,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
17,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
18,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
19,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
20,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
21,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
22,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
23,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
24,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
25,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
26,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
27,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
28,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
29,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40233,441728,0,0,1,0,0,0,0,0,0,...,tt5153236,3.105815,2017-06-23,7.3,9.0,"$6,335,171",$0,NaN,1.0,1
40234,442087,0,0,1,0,0,0,0,0,0,...,tt6608034,0.63551,2017-02-28,7.5,14.0,$0,$0,NaN,1.0,1
40235,442087,0,0,1,0,0,0,0,0,0,...,tt6608034,0.63551,2017-02-28,7.5,14.0,$0,$0,NaN,1.0,1
40236,444513,0,0,1,0,0,0,0,0,0,...,tt6616074,6.891989,2017-03-07,4.3,37.0,$0,$0,NaN,1.0,1
40237,444902,0,1,0,0,0,0,0,0,0,...,tt5262792,11.145052,2017-05-24,5.3,58.0,$0,$0,1.0,NaN,1
40238,445993,0,0,0,1,0,0,0,0,0,...,tt5781798,9.930139,2017-03-16,5.9,26.0,$0,$0,NaN,1.0,1
40239,446493,0,0,0,0,0,0,0,0,0,...,tt6587078,0.546812,2017-04-08,7.3,3.0,$0,$0,NaN,1.0,1
40240,447061,0,0,1,0,0,0,0,0,0,...,tt6582384,5.753444,2017-03-24,7.7,29.0,$0,$0,1.0,1.0,2
40241,447061,0,0,1,0,0,0,0,0,0,...,tt6582384,5.753444,2017-03-24,7.7,29.0,$0,$0,1.0,1.0,1
40242,448847,1,0,0,0,0,0,0,0,0,...,tt5351458,3.208922,2017-04-14,6.1,14.0,$0,$0,1.0,1.0,1
40243,449674,0,0,1,0,0,0,0,0,0,...,tt6736782,4.296455,2017-04-04,7.5,72.0,$0,$0,NaN,1.0,1
40244,449742,0,1,0,0,1,0,0,0,0,...,tt6712026,1.262638,2017-03-31,7.3,7.0,"$142,784",$0,NaN,1.0,1
40245,449758,0,0,0,0,0,0,0,0,0,...,tt6587094,1.218882,2017-03-31,8.3,8.0,$0,$0,NaN,1.0,1
40246,449758,0,0,0,0,0,0,0,0,0,...,tt6587094,1.218882,2017-03-31,8.3,8.0,$0,$0,NaN,1.0,1
40247,449758,0,0,0,0,0,0,0,0,0,...,tt6587094,1.218882,2017-03-31,8.3,8.0,$0,$0,NaN,1.0,1
40248,452068,0,0,0,0,1,0,0,0,0,...,tt5352846,8.413334,2017-05-26,5.7,55.0,$0,"$4,000,000",NaN,1.0,1
40249,455043,0,0,0,1,0,0,0,0,0,...,tt6083388,4.85639,2017-05-27,5.0,10.0,"$9,559,524","$25,000,000",NaN,1.0,1
40250,457962,1,1,0,0,1,0,0,0,0,...,tt1386691,6.965189,2017-06-09,6.0,74.0,$0,$0,1.0,1.0,1
40251,458506,0,0,1,0,0,0,0,0,0,...,tt5886510,9.560421,2017-07-08,6.8,36.0,$0,$0,NaN,1.0,1
40252,458961,0,0,0,0,0,0,0,0,0,...,tt0293525,0,1990-07-02,0.0,0.0,$0,$0,NaN,1.0,1
40253,459295,0,0,1,0,0,0,0,0,0,...,tt6948354,0.828399,2017-05-30,7.7,11.0,$0,$0,NaN,1.0,1
40254,459295,0,0,1,0,0,0,0,0,0,...,tt6948354,0.828399,2017-05-30,7.7,11.0,$0,$0,NaN,1.0,1
40255,459950,0,1,0,0,0,0,0,0,0,...,tt5226512,4.207731,2017-07-18,7.3,50.0,$0,$0,NaN,1.0,1
40256,460135,0,0,0,0,0,0,0,1,0,...,tt7158814,8.413734,2017-08-30,10.0,2.0,$0,$0,NaN,1.0,1
40257,460822,0,0,1,0,0,0,0,0,0,...,tt6987652,1.208618,2017-06-13,6.8,13.0,$0,"$1,900,000",NaN,1.0,1
40258,460846,0,0,0,1,0,0,0,0,0,...,tt3501112,47.114366,2017-03-04,6.0,113.0,"$776,522","$15,000,000",2.0,1.0,1
40259,461053,1,0,0,1,1,0,0,0,0,...,tt6014472,20.38691,2017-08-01,5.2,21.0,$0,$0,NaN,1.0,1
40260,461297,1,0,1,1,0,0,0,0,1,...,tt6212210,1.248353,2017-08-01,6.0,1.0,$0,$0,1.0,1.0,4
40261,461955,0,0,0,1,0,0,1,0,0,...,tt6990734,2.569474,2017-06-14,7.4,44.0,$0,$0,NaN,1.0,1
40262,464111,0,0,0,0,0,0,1,0,0,...,tt7078780,3.214001,2017-07-12,7.2,28.0,$0,$0,NaN,1.0,1

In [37]:
df1

,movie_id,Crime,Drama,Comedy,Action,Thriller,Adventure,Science Fiction,Animation,Family,...,imdb_id,popularity,release_date,vote_average,vote_count,revenue,budget,Cast 1,Cast 2,Production
0,3,0,1,1,0,0,0,0,0,0,...,tt0092149,2.29211,1986-10-16,7.1,35.0,$0,$0,1.0,1.0,1
1,5,1,0,1,0,0,0,0,0,0,...,tt0113101,9.02659,1995-12-09,6.5,539.0,"$4,257,354","$4,000,000",1.0,2.0,2
2,5,1,0,1,0,0,0,0,0,0,...,tt0113101,9.02659,1995-12-09,6.5,539.0,"$4,257,354","$4,000,000",1.0,2.0,1
3,6,1,0,0,1,1,0,0,0,0,...,tt0107286,5.53867,1993-10-15,6.4,79.0,"$12,526,677","$21,000,000",1.0,1.0,4
4,6,1,0,0,1,1,0,0,0,0,...,tt0107286,5.53867,1993-10-15,6.4,79.0,"$12,526,677","$21,000,000",1.0,1.0,1
5,6,1,0,0,1,1,0,0,0,0,...,tt0107286,5.53867,1993-10-15,6.4,79.0,"$12,526,677","$21,000,000",1.0,1.0,1
6,11,0,0,0,1,0,1,1,0,0,...,tt0076759,42.1497,1977-05-25,8.1,6778.0,"$775,512,064","$11,000,000",1.0,1.0,4
7,11,0,0,0,1,0,1,1,0,0,...,tt0076759,42.1497,1977-05-25,8.1,6778.0,"$775,512,064","$11,000,000",1.0,1.0,1
8,12,0,0,0,0,0,0,0,1,1,...,tt0266543,25.4978,2003-05-30,7.6,6292.0,"$969,023,261","$94,000,000",1.0,1.0,1
9,13,0,1,1,0,0,0,0,0,0,...,tt0109830,48.3072,1994-07-06,8.2,8147.0,"$678,151,134","$55,000,000",2.0,1.0,4
10,14,0,1,0,0,0,0,0,0,0,...,tt0169547,20.7266,1999-09-15,7.9,3438.0,"$356,296,601","$15,000,000",1.0,1.0,1
11,14,0,1,0,0,0,0,0,0,0,...,tt0169547,20.7266,1999-09-15,7.9,3438.0,"$356,296,601","$15,000,000",1.0,1.0,1
12,15,0,1,0,0,0,0,0,0,0,...,tt0033467,15.8119,1941-04-30,8.0,1244.0,"$1,594,107","$839,727",1.0,1.0,2
13,15,0,1,0,0,0,0,0,0,0,...,tt0033467,15.8119,1941-04-30,8.0,1244.0,"$1,594,107","$839,727",1.0,1.0,1
14,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,3
15,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
16,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
17,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
18,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
19,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
20,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
21,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
22,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
23,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
24,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
25,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
26,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
27,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
28,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
29,16,1,1,0,0,0,0,0,0,0,...,tt0168629,10.6848,2000-05-17,7.7,392.0,"$40,031,879","$12,800,000",1.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40094,417870,0,0,1,0,0,0,0,0,0,...,tt3564472,37.964872,2017-07-21,7.1,393.0,"$140,552,359","$19,000,000",1.0,1.0,1
40095,418078,0,0,0,0,1,0,0,0,0,...,tt4695012,20.504587,2017-06-09,5.6,357.0,"$19,280,931","$5,000,000",1.0,1.0,1
40096,418078,0,0,0,0,1,0,0,0,0,...,tt4695012,20.504587,2017-06-09,5.6,357.0,"$19,280,931","$5,000,000",1.0,1.0,1
40097,418437,0,1,0,0,1,0,0,0,0,...,tt3462710,10.159713,2017-04-20,5.7,117.0,"$17,768,012","$12,000,000",1.0,1.0,1
40110,419700,0,0,1,0,0,0,0,0,0,...,tt5893332,10.213483,2017-04-14,5.3,105.0,$0,$0,1.0,1.0,1
40111,419700,0,0,1,0,0,0,0,0,0,...,tt5893332,10.213483,2017-04-14,5.3,105.0,$0,$0,1.0,1.0,1
40137,423367,0,0,0,0,1,0,0,0,0,...,tt2231457,0.756327,2016-11-17,8.0,2.0,"$491,952",$0,1.0,1.0,1
40138,423367,0,0,0,0,1,0,0,0,0,...,tt2231457,0.756327,2016-11-17,8.0,2.0,"$491,952",$0,1.0,1.0,1
40151,425134,0,0,1,0,0,0,0,0,0,...,tt4795124,7.299803,2017-04-28,6.1,85.0,"$61,881,372","$10,000,000",1.0,1.0,1
40152,425591,1,1,1,0,1,0,0,0,0,...,tt5710514,10.985332,2017-01-19,6.5,222.0,$0,$0,1.0,1.0,1
40153,425591,1,1,1,0,1,0,0,0,0,...,tt5710514,10.985332,2017-01-19,6.5,222.0,$0,$0,1.0,1.0,1
40155,425751,0,1,0,0,0,0,0,0,0,...,tt5655222,6.549788,2017-06-09,6.7,17.0,"$4,101,699",$0,1.0,1.0,1
40156,425751,0,1,0,0,0,0,0,0,0,...,tt5655222,6.549788,2017-06-09,6.7,17.0,"$4,101,699",$0,1.0,1.0,1
40160,426230,0,0,1,0,0,0,0,0,0,...,tt5816374,2.302455,2017-06-02,6.5,25.0,"$248,370",$0,1.0,1.0,1
40162,426264,0,1,1,0,0,0,0,0,0,...,tt6193424,1.223145,2017-08-31,7.0,6.0,"$1,988,841",$0,1.0,1.0,1
40163,426272,1,0,1,0,0,0,0,0,0,...,tt6598626,9.222308,2017-05-05,6.0,38.0,"$2,583",$0,1.0,1.0,1
40166,428449,0,1,0,0,0,0,0,0,0,...,tt6265828,24.339781,2017-07-07,6.8,95.0,"$1,951,683","$100,000",1.0,1.0,1
40167,428449,0,1,0,0,0,0,0,0,0,...,tt6265828,24.339781,2017-07-07,6.8,95.0,"$1,951,683","$100,000",1.0,1.0,1
40168,428449,0,1,0,0,0,0,0,0,0,...,tt6265828,24.339781,2017-07-07,6.8,95.0,"$1,951,683","$100,000",1.0,1.0,1
40174,429200,1,1,0,0,1,0,0,0,0,...,tt4846232,5.798555,2017-08-11,7.3,46.0,"$3,283,369","$4,500,000",1.0,1.0,1
40205,434724,1,1,0,0,0,0,0,0,0,...,tt5644740,0.925521,2017-01-18,7.0,6.0,"$37,886,707",$0,1.0,1.0,1
40212,435921,0,0,1,0,0,0,0,0,0,...,tt6137734,4.949637,2017-01-19,7.0,142.0,"$11,538,940",$0,1.0,1.0,1
40213,436932,0,1,0,1,0,0,0,0,0,...,tt3582020,3.068554,2017-05-12,6.6,19.0,"$33,919",$0,1.0,1.0,1
40219,438081,0,1,1,0,0,0,0,0,0,...,tt6461514,2.110254,2017-01-28,5.3,3.0,"$151,092,784",$0,1.0,1.0,1
40240,447061,0,0,1,0,0,0,0,0,0,...,tt6582384,5.753444,2017-03-24,7.7,29.0,$0,$0,1.0,1.0,2
40241,447061,0,0,1,0,0,0,0,0,0,...,tt6582384,5.753444,2017-03-24,7.7,29.0,$0,$0,1.0,1.0,1
40242,448847,1,0,0,0,0,0,0,0,0,...,tt5351458,3.208922,2017-04-14,6.1,14.0,$0,$0,1.0,1.0,1
40250,457962,1,1,0,0,1,0,0,0,0,...,tt1386691,6.965189,2017-06-09,6.0,74.0,$0,$0,1.0,1.0,1
40258,460846,0,0,0,1,0,0,0,0,0,...,tt3501112,47.114366,2017-03-04,6.0,113.0,"$776,522","$15,000,000",2.0,1.0,1
40260,461297,1,0,1,1,0,0,0,0,1,...,tt6212210,1.248353,2017-08-01,6.0,1.0,$0,$0,1.0,1.0,4

In [ ]:
import datetime
from datetime import date

In [ ]:
data.release_date = pd.to_datetime(data.release_date)

In [ ]:
data['Month'] = data.release_date.dt.month

In [ ]:
data['Year'] = data.release_date.dt.year

In [ ]:
data.budget1.value_counts()

In [ ]:
# Changing revenue1 to Int
data.revenue1 = [i.replace('$','').replace(',','') for i in data.revenue1]
data.revenue1 = [int(i) for i in data.revenue1]

In [ ]:
# To locate the error position
import re
data['bullshit']=[re.findall('\d+',i) for i in data.budget1.str.replace('$','').str.replace(',','')]
data.bullshit=[len(i) for i in data.bullshit]
data.bullshit.idxmin()

In [ ]:
#Changing budget into Intdat
data.loc[6875,'budget1']='25000000'
import re
data.budget1 = [re.findall('\d+',i) for i in data.budget1.str.replace('$','').str.replace(',','')]
data.budget1 = [int(i[0]) for i in data.budget1]

In [ ]:
data.revenue1

In [ ]:
data[data.revenue1 < data.budget1]

In [ ]:
production = pd.read_csv('production.csv')

In [ ]:
combine = pd.merge(production, data, on= 'movie_id', how='inner')

In [ ]:
combine.columns

In [ ]:
combine.drop(['production_companies','Unnamed: 0','bullshit'], axis=1, inplace=True)

In [ ]:
combine.Production.value_counts()

In [ ]:
combine['Cast 2'].value_counts()

In [ ]:
combine['Cast 1'].value_counts()

In [ ]:
combine.isnull().sum()

In [ ]:
pd.DataFrame([combine.Production.isna(),combine['Cast 1'].isna(),combine['Cast 2'].isna()]).T.max(axis=1).sum()

In [ ]:
combine.isnull().sum()

In [ ]:
combine.to_csv('Final.csv')

In [ ]:
final = pd.read_csv('Final.csv')

In [ ]:
final['Month'] = pd.to_datetime(final['release_date']).dt.month

In [ ]:
final.Animation.value_counts()

In [ ]:
sns.barplot(y='revenue1', x='Animation', data=final)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.lineplot(x='Month',y='revenue1', data=final)

In [ ]:
final.drop('adult',axis=1,inplace=True)

In [ ]:
final.info()

In [ ]:
# Changing cast 1 to number
combine['Cast 1'][combine['Cast 1'] == 'Low'] = 1
combine['Cast 1'][combine['Cast 1'] == 'Moderate'] = 2
combine['Cast 1'][combine['Cast 1'] == 'High'] = 3
combine['Cast 1'] = combine['Cast 1'].fillna(0)

In [ ]:
combine['Cast 2'][combine['Cast 2'] == 'Low'] = 1
combine['Cast 2'][combine['Cast 2'] == 'Moderate'] = 2
combine['Cast 2'][combine['Cast 2'] == 'High'] = 3
combine['Cast 2'] = combine['Cast 2'].fillna(0)

In [ ]:
combine.info()

In [ ]:
combine.Production = combine.Production.astype(int)

In [ ]:
combine.info()

In [ ]:
combine.drop(['release_date', 'imdb_id','movie_id'], axis=1, inplace=True)

In [ ]:
combine['age'] = 2019 - combine['Year']

In [ ]:
combine.drop('Year', axis=1, inplace=True)

In [ ]:
combine1 =pd.get_dummies(data=combine, columns=['Month'], drop_first =True)

In [ ]:
combine1.info()

In [ ]:
group_labels = ['0', '1']

bins = pd.cut(combine['revenue1'],[combine.revenue1.min(),5000000,movies.revenue1.max()], labels=group_labels)

In [ ]:
bins = pd.cut(combine['revenue1'],[combine.revenue1.min(),5000000,movies.revenue1.max()], labels=group_labels)

In [ ]:
movies.revenue1.max()