In [1]:
import pandas as pd
import json

from pandas.io.json import json_normalize

In [2]:
production = pd.read_csv('Productions.csv')

In [30]:
production.drop('Unnamed: 0', axis=1, inplace=True)

In [31]:
# One movie can have more then one producer, the next steps are counting how many times a producer produced a movie
# and group them according to the number of time

In [32]:
df =pd.DataFrame(production.name.value_counts())

In [33]:
df.reset_index(inplace=True)

In [34]:
df.describe()
# 75% of the the data is lower than the mean, theoretically this is not a meaningful attribute
# to the final anaylis, but still, we keep it to try

               name
count  23473.000000
mean       2.996805
std       17.258792
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max     1249.000000

In [35]:
a = df[df['name'] < 3].index # only consider the productions which apppear more than 3 times

In [36]:
df1 = df.drop(a, axis=0)

In [37]:
group_labels = ['1', '2','3', '4']

In [38]:
bins = pd.cut(df1['name'],[2,100,400,800,1250], labels=group_labels)

In [39]:
df1['Group']=bins

In [40]:
df1.rename(columns={'index':'name','name':'count'}, inplace=True)

In [48]:
df2 = pd.merge(df1,production, on='name', how='inner')

In [49]:
df2

                             name  count Group     id  movie_id
0                    Warner Bros.   1249     4   6194     15602
1                    Warner Bros.   1249     4   6194       949
2                    Warner Bros.   1249     4   6194      9273
3                    Warner Bros.   1249     4   6194      9691
4                    Warner Bros.   1249     4   6194     33689
5                    Warner Bros.   1249     4   6194     19760
6                    Warner Bros.   1249     4   6194     11859
7                    Warner Bros.   1249     4   6194     36929
8                    Warner Bros.   1249     4   6194       688
9                    Warner Bros.   1249     4   6194     27793
10                   Warner Bros.   1249     4   6194     30765
11                   Warner Bros.   1249     4   6194       414
12                   Warner Bros.   1249     4   6194      9073
13                   Warner Bros.   1249     4   6194     18402
14                   Warner Bros.   1249     4   6194    139408
15                   Warner Bros.   1249     4   6194      3512
16                   Warner Bros.   1249     4   6194        76
17                   Warner Bros.   1249     4   6194      8984
18                   Warner Bros.   1249     4   6194      9061
19                   Warner Bros.   1249     4   6194     19101
20                   Warner Bros.   1249     4   6194     43742
21                   Warner Bros.   1249     4   6194      8438
22                   Warner Bros.   1249     4   6194       241
23                   Warner Bros.   1249     4   6194      6950
24                   Warner Bros.   1249     4   6194      2636
25                   Warner Bros.   1249     4   6194       278
26                   Warner Bros.   1249     4   6194      3049
27                   Warner Bros.   1249     4   6194     10731
28                   Warner Bros.   1249     4   6194     29973
29                   Warner Bros.   1249     4   6194      9359
...                           ...    ...   ...    ...       ...
48263                Broken Films      3     1  40745    253046
48264                Broken Films      3     1  40745    269242
48265                Broken Films      3     1  40745    267319
48266       Lemon Sky Productions      3     1  13190      9071
48267       Lemon Sky Productions      3     1  13190     14390
48268       Lemon Sky Productions      3     1  13190     31146
48269       John Ford Productions      3     1  10698     11697
48270       John Ford Productions      3     1  10698     43040
48271       John Ford Productions      3     1  10698     68692
48272         Horsethief Pictures      3     1   6352     92591
48273         Horsethief Pictures      3     1   6352     46562
48274         Horsethief Pictures      3     1   6352    333344
48275           Swift Productions      3     1  23812     64450
48276           Swift Productions      3     1  23812     72985
48277           Swift Productions      3     1  23812     98203
48278                Carlmar Film      3     1  14624     56697
48279                Carlmar Film      3     1  14624     56691
48280                Carlmar Film      3     1  14624     87654
48281  Verdon Productions Limited      3     1  16680     29493
48282  Verdon Productions Limited      3     1  16680     29473
48283  Verdon Productions Limited      3     1  16680     29464
48284       Maguire Entertainment      3     1   2236     45272
48285       Maguire Entertainment      3     1   2236     74998
48286       Maguire Entertainment      3     1   2236    262338
48287              Flashpoint (I)      3     1  13495      3033
48288              Flashpoint (I)      3     1  13495     45905
48289              Flashpoint (I)      3     1  13495     68572
48290                      Bizibi      3     1    786      1918
48291                      Bizibi      3     1    786    161073
48292                      Bizibi      3     1    786     74666

[48293 rows x 5 columns]

In [50]:
df2.drop(['id','count','name'], axis=1, inplace=True) 
# just need the movie_id and group to merge 
# with the other tables

In [51]:
df2.rename(columns={'Group':'Production'}, inplace=True)

In [57]:
df2.to_csv('Productions_final.csv') #saved the file for the final analysis