In [1]:
import numpy as np
import pandas as pd
import json


from pandas.io.json import json_normalize

In [3]:
movies = pd.read_csv('movies_metadata.csv')

/anaconda3/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
movies.shape

(45466, 24)

In [5]:
movies.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [6]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [7]:
movies = movies.drop(columns = ['belongs_to_collection','homepage','tagline','poster_path'])

In [8]:
movies = movies.dropna().reset_index (drop=True)

In [9]:
movies = movies.rename(columns={"id": "movie_id"}) #Renamed beacause we have id in side the crew and the cast columns

In [11]:
movies.shape

(44349, 20)

# Getting the GENRES:

In [12]:
#Getting the GENRES:
genres_1 = []
for i,r in enumerate(movies.genres): 
    j = eval(r)
    for k in j:
        k['movie_id'] = movies['movie_id'][i]
    genres_1.append(j)
        #k['movie_id'] = movies['movie_id'][i]
    
genres=[]
for i in genres_1:
    genres.extend(i)  #use extend instead of append because we want only 1 list, not 1ists inside the lis

genres = json_normalize(genres)
genres.to_csv('Genres.csv')  # Please see Genres notebook

# GETTING the production_companies:

In [62]:
# GETTING the production_companies:
prod_1 = []
for i,r in enumerate(movies.production_companies): 
    j = eval(r)
    for k in j: 
        k['movie_id'] = movies['movie_id'][i]
    prod_1.append(j)

prod=[]
for i in prod_1:
    prod.extend(i)  #use extend instead of append because we want only 1 list, not 1ists inside the lis

prod = json_normalize(prod)
prod.to_csv('Productions.csv') # Please see Productions notebook

# GETTING the production_companies:

In [ ]:
# GETTING the production_companies:
countries_1 = []
for i,r in enumerate(movies.production_countries): 
    j = eval(r)
        k['movie_id'] = movies['movie_id'][i]
    countries_1.append(j)

countries=[]
for i in countries_1:
    countries.extend(i)  #use extend instead of append because we want only 1 list, not 1ists inside the lis

countries = json_normalize(countries)
countries.to_csv('Producti.csv') # Please see Productions notebook

# SCRAPING IMDB FOR REVENUE and BUDGET

In [28]:
import requests as r
from bs4 import BeautifulSoup
import pandas as pd

In [89]:
def webscrape(url):
    import re
    html = r.get(url).content
    soup = BeautifulSoup(html, 'lxml')
    element = soup.get_text()
    revenue = re.findall(r"Cumulative Worldwide Gross: (.*)        " ,element)
    budget = re.findall(r"Budget:(.*)" ,element)
    if len(revenue)==0:  # to avoide error when there is no info about revenue or budget
        revenue.append('$0')
    if len(budget)==0:
        budget.append('$0')
    return revenue[0],budget[0] # pick the 1st element from the revenue and budget list, 
#resulting only the element, not inside the list


box_office={}
count=0
for i in movies.imdb_id:
    url = f'https://www.imdb.com/title/{i}/'
    scrape = webscrape(url)
    box_office.update({i:scrape})
    count+=1
    if count%100==0:
        print(i,count)
    #revenue[i]=revenue[scrape]
    #revenue1.append(revenue)
    #revenue.extend(scrape)


#Putting the revenue and budget into dataframe (bo)
bo = pd.DataFrame(box_office).T
bo.reset_index(inplace=True)
bo.to_csv('box_office.csv')

tt0117102 100
tt0114781 200
tt0111495 300
tt0113409 400
tt0107808 500
tt0082509 600
tt0333373 700
tt0115857 800
tt0037008 900
tt0117791 1000
tt0034493 1100
tt0057115 1200
tt0115988 1300
tt0120053 1400
tt0118570 1500
tt0118804 1600
tt0119905 1700
tt0022958 1800
tt0137386 1900
tt0120056 2000
tt0128442 2100
tt0120484 2200
tt0119336 2300
tt0071455 2400
tt0037099 2500
tt0092585 2600
tt0126810 2700
tt0091214 2800
tt0086465 2900
tt0024645 3000
tt0156639 3100
tt0047898 3200
tt0090693 3300
tt0102898 3400
tt0055852 3500
tt0120913 3600
tt0111187 3700
tt0180093 3800
tt0073605 3900
tt0230783 4000
tt0221073 4100
tt0086508 4200
tt0245280 4300
tt0096256 4400
tt0098206 4500
tt0118178 4600
tt0066999 4700
tt0086383 4800
tt0057071 4900
tt0085380 5000
tt0067345 5100
tt0103247 5200
tt0263725 5300
tt0103125 5400
tt0297037 5500
tt0082679 5600
tt0083178 5700
tt0075968 5800
tt0079592 5900
tt0085121 6000
tt0316188 6100
tt0286516 6200
tt0100924 6300
tt0066249 6400
tt0120584 6500
tt0071688 6600
tt0311648 6700
tt0027075 6800
tt0069097 6900
tt0093828 7000
tt0328538 7100
tt0315110 7200
tt0243664 7300
tt0166287 7400
tt0048641 7500
tt0086489 7600
tt0391225 7700
tt0381707 7800
tt0299594 7900
tt0054944 8000
tt0270846 8100
tt0337876 8200
tt0023037 8300
tt0037824 8400
tt0053126 8500
tt0063654 8600
tt0072267 8700
tt0086379 8800
tt0098967 8900
tt0107685 9000
tt0131566 9100
tt0236285 9200
tt0304262 9300
tt0366137 9400
tt0219519 9500
tt0024314 9600
tt0378906 9700
tt0021622 9800
tt0201631 9900
tt0052654 10000
tt0062861 10100
tt0379786 10200
tt0318761 10300
tt0350774 10400
tt0104350 10500
tt0408306 10600
tt0240200 10700
tt0419749 10800
tt0384537 10900
tt0422015 11000
tt0013579 11100
tt0051433 11200
tt0499537 11300
tt0488658 11400
tt0758743 11500
tt0094118 11600
tt0493247 11700
tt0499455 11800
tt0772157 11900
tt0811106 12000
tt0210302 12100
tt0937237 12200
tt0019074 12300
tt0451079 12400
tt0857191 12500
tt1151309 12600
tt1082886 12700
tt0819714 12800
tt0947802 12900
tt0038250 13000
tt1042877 13100
tt0212579 13200
tt0441627 13300
tt1176740 13400
tt1197628 13500
tt0024500 13600
tt1230448 13700
tt0047499 13800
tt0971209 13900
tt0027697 14000
tt1144884 14100
tt0018839 14200
tt0060048 14300
tt0017961 14400
tt0077729 14500
tt0110419 14600
tt0088040 14700
tt1512201 14800
tt0233481 14900
tt0810868 15000
tt0110524 15100
tt0475390 15200
tt0974544 15300
tt1375670 15400
tt1386588 15500
tt0063384 15600
tt0846017 15700
tt0082235 15800
tt0028330 15900
tt0143334 16000
tt1213648 16100
tt1137481 16200
tt1302067 16300
tt0367000 16400
tt0770829 16500
tt1499666 16600
tt0159251 16700
tt0049881 16800
tt0117273 16900
tt0491152 17000
tt1735485 17100
tt0021025 17200
tt0862946 17300
tt1213012 17400
tt1455151 17500
tt0049357 17600
tt0037932 17700
tt1239427 17800
tt0770703 17900
tt0051016 18000
tt0048570 18100
tt1954598 18200
tt0048133 18300
tt0041415 18400
tt0075016 18500
tt1477109 18600
tt1545103 18700
tt0241000 18800
tt1788383 18900
tt0061675 19000
tt1919090 19100
tt0063363 19200
tt1855199 19300
tt1282052 19400
tt0047832 19500
tt1683921 19600
tt0043150 19700
tt0030371 19800
tt0450326 19900
tt0072814 20000
tt0122565 20100
tt2035599 20200
tt0765446 20300
tt1728975 20400
tt0037610 20500
tt1715853 20600
tt0076827 20700
tt1731697 20800
tt1341764 20900
tt1977739 21000
tt0060484 21100
tt0346578 21200
tt0364447 21300
tt1392214 21400
tt0086340 21500
tt0048623 21600
tt0133104 21700
tt2765340 21800
tt0074412 21900
tt0052063 22000
tt0087373 22100
tt0307538 22200
tt1736552 22300
tt1414368 22400
tt0042242 22500
tt2655788 22600
tt2275656 22700
tt0083242 22800
tt0389817 22900
tt0266041 23000
tt0057860 23100
tt0049264 23200
tt0115584 23300
tt2405792 23400
tt2015381 23500
tt2518788 23600
tt2114461 23700
tt1282015 23800
tt0991269 23900
tt2955096 24000
tt1077394 24100
tt3104818 24200
tt0243278 24300
tt2287699 24400
tt0049515 24500
tt1937226 24600
tt2492664 24700
tt0072860 24800
tt0023584 24900
tt2845780 25000
tt1839642 25100
tt1816597 25200
tt0090904 25300
tt0099072 25400
tt3473654 25500
tt2076787 25600
tt0451187 25700
tt3118958 25800
tt0019434 25900
tt1935929 26000
tt1053880 26100
tt0090073 26200
tt0415855 26300
tt0068613 26400
tt0047180 26500
tt0330795 26600
tt0047501 26700
tt2442526 26800
tt0050902 26900
tt0043736 27000
tt1712502 27100
tt0441787 27200
tt4097108 27300
tt0067782 27400
tt4185572 27500
tt3667610 27600
tt0065019 27700
tt0076554 27800
tt3685818 27900
tt3723996 28000
tt1863280 28100
tt1826660 28200
tt2917388 28300
tt4365412 28400
tt0099606 28500
tt2389530 28600
tt3029556 28700
tt1332486 28800
tt0089974 28900
tt0199175 29000
tt1493940 29100
tt1441953 29200
tt0480345 29300
tt1692084 29400
tt0489751 29500
tt0439876 29600
tt0090200 29700
tt3966544 29800
tt3043546 29900
tt0442001 30000
tt0133351 30100
tt0110577 30200
tt3307774 30300
tt1421378 30400
tt0128292 30500
tt0089010 30600
tt1082863 30700
tt3108584 30800
tt0218121 30900
tt0072260 31000
tt2796678 31100
tt1868030 31200
tt0120380 31300
tt0088107 31400
tt3317874 31500
tt0064086 31600
tt0406310 31700
tt1018723 31800
tt3919820 31900
tt0097423 32000
tt2674040 32100
tt0461658 32200
tt1068284 32300
tt1172049 32400
tt0046671 32500
tt3977462 32600
tt0426568 32700
tt0889212 32800
tt4271918 32900
tt0194143 33000
tt2996684 33100
tt0410537 33200
tt0077888 33300
tt3751304 33400
tt3279818 33500
tt0094059 33600
tt0833463 33700
tt1594534 33800
tt3733622 33900
tt0080929 34000
tt0270151 34100
tt0110263 34200
tt0035982 34300
tt1049956 34400
tt3921418 34500
tt0840304 34600
tt0500144 34700
tt0101309 34800
tt0395677 34900
tt0085829 35000
tt0064662 35100
tt0046784 35200
tt5275844 35300
tt0485777 35400
tt0476016 35500
tt1570559 35600
tt0203139 35700
tt0496799 35800
tt0349878 35900
tt0159290 36000
tt0386092 36100
tt0496395 36200
tt0388242 36300
tt0492916 36400
tt2372678 36500
tt0077339 36600
tt0059924 36700
tt0466403 36800
tt0063063 36900
tt0855975 37000
tt0048653 37100
tt0062693 37200
tt0108317 37300
tt4063314 37400
tt0299943 37500
tt0427541 37600
tt0072685 37700
tt2749282 37800
tt2276480 37900
tt4532404 38000
tt4054502 38100
tt1857816 38200
tt2674430 38300
tt0473910 38400
tt2147225 38500
tt1405410 38600
tt0102217 38700
tt0062235 38800
tt0395293 38900
tt3655682 39000
tt0486420 39100
tt3367294 39200
tt0115625 39300
tt0043116 39400
tt5434870 39500
tt4172146 39600
tt3122842 39700
tt1764645 39800
tt3108244 39900
tt0367135 40000
tt4882174 40100
tt0035048 40200
tt5030004 40300
tt0043959 40400
tt0452009 40500
tt3476464 40600
tt2543838 40700
tt4135076 40800
tt6017594 40900
tt4057376 41000
tt0036262 41100
tt0907134 41200
tt0125576 41300
tt0249816 41400
tt0007183 41500
tt3521306 41600
tt5259496 41700
tt3663890 41800
tt4456270 41900
tt0233657 42000
tt1922551 42100
tt0079400 42200
tt2091256 42300
tt1724970 42400
tt4914580 42500
tt0080621 42600
tt2290645 42700
tt4284046 42800
tt0281618 42900
tt0112366 43000
tt0192263 43100
tt0058374 43200
tt5059782 43300
tt0092587 43400
tt4926822 43500
tt4294938 43600
tt3582020 43700
tt2193450 43800
tt0448621 43900
tt0251333 44000
tt7078780 44100
tt0794399 44200
tt0059091 44300